/* Debug */
/* ----- */

/* this is odd. the flex-wrap on the #footer only works with the divs having a border. huh? */
div {
	border: 1px solid #111; 
}



/* General */
/* ------- */

body {
	font-family: $font-din-mittel;
	background: $colour-background;
	color: $colour-type-main;
}

#footer {
	font-size: 0.6em;
	color: $colour-type-medium;
	text-align: center;
	a:link, a:visited, a:hover, a:active {
		color: $colour-type-medium;
		/* text-decoration: none; */
	}
}


/* Keep footer out of the view until skip is clicked */
#footer {
	opacity: 0;
}

/* Structure */
/* --------- */

#header, #header a, #controls, #footer, #footer-text, #footer-logos, #content, #links {
	display: flex;
}

#context, #cinema-info {
	display: flex;
	flex-direction: column;
}

#header, #controls, #footer, #footer-text {
	justify-content: center;
}

#footer-logos {
	justify-content: flex-end;
}

#header, #header a, #footer, #footer-text, #footer-logos {
	align-items: center;
}



/* Dimensions */
/* ---------- */

#header {
	width: 60vw;
	height: 10vh;
}

#controls {
	width: 60vw;
	height: 3vh;
}

#visual {
	width: 60vw;
	height: 80vh;
}

#context {
	width: 40vw;
	height: 80vh;
}

#cinema-info {
	width: 35vw;
}

#footer {
	width: 100vw;
	height: 6vh;
}

#footer-text {
	width: 60vw;
}

#footer-logos {
	width: 40vw;
	height: 100%; /* needs explicit height for the logos to nestle in nicely */
}


/* Child dimensions */

#header a {
	height: 100%;
}

#header img {
	height: 33%;
}

#footer-logos a {
	height: 100%; 
}

#footer-logos img {
	width: auto;
	height: 50%;
	margin: 1rem;
}
